<nav class="navbar navbar-expand-lg navbar-dark bg-primary fs-5">
  <div class="container">
    <a class="navbar-brand fw-bold titulo" routerLink="/" style="font-size: 3.75rem;">Leitura Livre</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <button class="nav-link fs-5 btn btn-link" routerLink="/cadastro" routerLinkActive="active">Cadastre-se</button>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" routerLink="/livro-cadastro" *ngIf="isLoggedIn">Cadastro de Livros</a>
        </li>
        <li class="nav-item">
          <button class="nav-link fs-5 btn btn-link" routerLink="/saiba-mais" routerLinkActive="active">Saiba mais</button>
        </li>
        <li class="nav-item" *ngIf="isAdmin">
          <button class="nav-link fs-5 btn btn-link" routerLink="/usuarios-listagem" routerLinkActive="active">Gestão Usuários</button>
        </li>
        <li class="nav-item" *ngIf="isAdmin || isLoggedIn">
          <button class="nav-link fs-5 btn btn-link" routerLink="/livros-listagem" routerLinkActive="active">Gestão Livros</button>
        </li>
        <li class="nav-item" *ngIf="!isAdmin">
          <button class="nav-link fs-5 btn btn-link" (click)="abrirLoginModal()">Login</button>
        </li>
        <li class="nav-item" *ngIf="isAdmin">
          <button class="nav-link fs-5 btn btn-link" (click)="deslogar()">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<app-login-modal #loginModal></app-login-modal>
<router-outlet></router-outlet>
