<div class="container-fluid p-0 m-0 overflow-hidden">
  <div class="row g-0" style="height: calc(100vh - 116px);">
    <div class="col-md-6 bg-primary text-white d-flex flex-column justify-content-center align-items-start p-5">
      <h1 class="fw-bold fs-1">
        Compartilhe e descubra<br />
        novos livros com seus<br />
        vizinhos!
      </h1>
      <p class="mt-4 fs-4">Compartilhe e descubra novos livros.</p>
      <button class="btn btn-light text-primary fw-bold px-4 py-2 mt-4 fs-5" routerLink="/cadastro" routerLinkActive="active">Cadastre-se</button>
    </div>
    <div class="col-md-6 bg-light d-flex flex-column align-items-center justify-content-center p-4">
      <div class="rounded-circle d-flex align-items-center justify-content-center mb-4"
           style="width: 100px; height: 100px;">
        <img src="/img/livro.png" alt="Ícone de livro" style="width: 80px;" />
      </div>
      <img src="/img/home.png"
           alt="Estante de livros"
           class="img-fluid rounded shadow"
           style="max-height: 71vh; max-width: 90%;" />
    </div>
  </div>
</div>
